build/
tests/run/
tests/lua/
tests/test_adblock
tests/test_dns
tests/test_plugins
*.vpk
*.self
*.velf
ffmpeg-vita/
ffmpeg-src/
ffmpeg-build.log
ci.log
tests/test_media
tests/bl_media.txt
tests/test_watched
tests/test_sub
tests/test_history
tests/hist_run/
tests/test_dl
tests/dlrun/
tests/test_secure
tests/sec_run/
